body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;

}

.container{
    width:55%;
    margin : auto;
    background:white;
    padding : 20px;
    border-radius: 10px;
    box-shadow: 0px, 0px 10px rgba(0, 0, 0, 0.1);
}

h2,h3{
    text-align: center;
}

form{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding : 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border : 1px solid #ccc;
    border-radius : 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-box{
    margin-bottom: 20px;
}

button{
    padding: 10px;
    width:100%;
    margin: 2px;
    color:white;
    border:none;
    cursor:pointer;
    border-radius: 5px;
}

.add-btn:hover{
    background-color: #45a049;
}

/* form[action="/delete"] button{
    background-color:rgb(188, 30, 62);
} */

table{
    width:100%;
    border-collapse: collapse;
    margin-top : 20px;
}

th, td{
    padding:10px;
    text-align: center;
    /* border: 1px solid #ddd; */
}

th{
    background-color: #4CAF50;
    color:white;
}

p{
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even){
    background-color:#f2f2f2;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 13px;
}
.delete-btn{
    background-color: #e74c3c;
}

.edit-btn{
    background-color: #3498db;
}

.add-btn{
    background-color: #4CAF50;
}

.summary-box{
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
}

.summary-item{
    display: flex;
    justify-content: space-between;
    padding: 5px, 0;
    border-bottom: 1px solid #ddd;
}